# Application
NODE_ENV=
PORT=

# MySQL Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# MongoDB
MONGODB_URI=
MONGODB_DATABASE=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=